.prolist_top {
  font-size: 14px;
}
.prolist_hot {
  background-color: #eee;
  height: 40px;
  line-height: 40px;
  width: 94%;
  margin: 10px auto;
  padding-left: 10px;
  border: 1px solid #ccc;
}
.brand_all_hot li {
  height: 40px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-top: none;
  line-height: 40px;
  padding-left: 20px;
  padding-bottom: 0;
  position: relative;
  box-sizing: border-box;
}
.brand_all_hot li a {
  display: block;
  font-weight: 700;
  background: url("http://www.zuyushop.com/wap/images/arrow1.gif") right center no-repeat;
}
.brand_all_hot li:first-child {
  border-top: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}
.brand_all_hot li:last-child {
  border-bottom: 2px solid #ccc;
}
