.ind_nav li {
  float: left;
  width: 25%;
  text-align: center;
  margin-top: 20px;
}
.ind_nav li img {
  height: 50px;
  width: 50px;
  margin: 0 auto;
}
.ind_nav li p {
  font-size: 12px;
}
.ind_list_title {
  height: 35px;
  background-image: linear-gradient(#FFAD43, #FF9103);
  margin-top: 20px;
  line-height: 35px;
  color: #fff;
  padding-left: 10px;
}
.ind_tit_list {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.center_tit {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.ind_list_left img {
  width: 100px;
  height: 100px;
}
.ind_list_right .cont {
  height: 60px;
}
.ind_list_right .cont span {
  color: red;
}
.ind_list_right .info {
  color: gray;
  font-size: 12px;
}
.more {
  border: 1px solid #ccc;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.cate_title {
  height: 40px;
  background-color: #EDEDED;
  border: 1px solid #ccc;
  box-sizing: border-box;
  line-height: 40px;
  padding-left: 20px;
  font-weight: 700;
  border-top: none;
}
.oneTop {
  border-top: 1px solid #ccc;
  border-radius: 5px  5px  0 0;
}
.cate_list {
  width: 100%;
  display: none;
}
.cate_list ul {
  height: 100%;
}
.cate_list li {
  float: left;
  width: 33.33%;
  text-align: center;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
}
.cate_list li a {
  font-size: 14px;
}
.hide {
  display: block;
}
.now {
  display: none;
}
.prolist_top {
  height: 38px;
  line-height: 38px;
  padding-left: 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ccc;
  background-image: radial-gradient(#fff, #ebebeb);
}
.prolist_content {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}
.prolist_content li {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}
.pro_left img {
  width: 100px;
  height: 100px;
}
.pro_right {
  overflow: hidden;
  padding-left: 20px;
}
.pro_right .proname {
  font-size: 14px;
  height: 44px;
}
.pro_right .price {
  color: red;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}
.pro_right .info {
  font-size: 12px;
  color: gray;
  line-height: 20px;
}
.pro_right .info span {
  margin-right: 10px;
}
.pages span {
  display: block;
  float: left;
  width: 33.33%;
  text-align: center;
}
.pages span button {
  margin: 0 auto;
  width: 82px;
  height: 33px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.pages span select {
  width: 82px;
  height: 33px;
  padding-left: 20px;
}
.bijia_body {
  box-sizing: border-box;
  text-align: center;
}
.bijia_body .show {
  padding-top: 10px;
  height: 200px;
  width: 90%;
  margin: 0 auto;
}
.bijia_body .showPic {
  height: 170px;
  box-sizing: border-box;
}
.bijia_body .w33 li {
  height: 34px;
  width: 33.33%;
  background-color: #Fb0;
  float: left;
  box-sizing: border-box;
  border: 1px solid black;
  line-height: 34px;
  border-right: none;
}
.bijia_jd {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}
.jd_left img {
  width: 16px;
  height: 16px;
  margin: 0 40px;
}
.jd_right span {
  margin-right: 10px;
  color: red;
}
.jd_right button {
  display: inline-block;
  background-color: #f50;
  border-radius: 5px;
  color: #fff;
  padding: 2px 5px;
}
.zhu {
  text-align: left;
  font-size: 12px;
  color: #aaa;
  line-height: 34px;
  border-bottom: 4px solid #7a7a7a ;
}
.discuss {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  background-color: #dbdbdb;
  text-align: center;
}
.disc_content {
  font-size: 12px;
  padding: 10px;
}
li {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
li .user {
  margin: 20px 0 20px;
  text-align: left;
}
li .user .info {
  float: right;
}
li .user .info p {
  text-align: right;
}
li .disc_content {
  text-align: left;
}
.more {
  width: 90%;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
  height: 32px;
  line-height: 32px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#d4d4d4));
}
.mmm_header {
  position: relative;
}
.mmm_header .iconfont {
  font-size: 30px;
  line-height: 50px;
  padding-left: 10px;
  color: #fff;
}
.mmm_header h3 {
  position: absolute;
  font-size: 20px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.ind_tit_list {
  padding-top: 20px;
  box-sizing: border-box;
  font-size: 15px;
}
.ind_list_left img {
  width: 100px;
  height: 100px;
}
.ind_list_right {
  overflow: hidden;
}
.ind_list_right .proname {
  height: 60px;
}
.ind_list_right .red {
  color: red;
}
.ind_list_right .other {
  font-size: 12px;
  color: #a1a1a1;
}
.ind_list_right .other .icon-message {
  float: right;
}
.page {
  width: 100%;
}
.page li {
  float: left;
  width: 33.33%;
  text-align: center;
}
.page li button {
  margin: 0 auto;
  width: 83px;
  height: 33px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#d4d4d4));
}
.page select {
  width: 83px;
  height: 33px;
  padding-left: 10px;
}
.mmm_header {
  position: relative;
}
.mmm_header .iconfont {
  font-size: 30px;
  line-height: 50px;
  padding-left: 10px;
  color: #fff;
}
.mmm_header h3 {
  position: absolute;
  font-size: 20px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.mpro_content {
  padding: 10px;
}
.mpro_content .mpro_tit {
  font-size: 18px;
  line-height: 60px;
}
.mpro_content .info {
  font-size: 12px;
  color: #999;
  margin-bottom: 20px;
}
.mpro_content .words {
  color: #606060;
}
.mpro_content .rigfloat {
  float: right;
}
.mpro_content .lh30 {
  line-height: 40px;
}
.mpro_content .area_true {
  margin: 0 auto;
}
.mpro_content .area_true #disstorck {
  margin: 0 auto;
}
.mpro_content .area_true li {
  width: 120px;
  padding-bottom: 0;
  border-bottom: 1px dashed #c0c0c0;
  margin: 0 auto;
  position: relative;
}
.mpro_content .area_true li span {
  font-size: 12px;
  width: 90%;
  margin-right: 10px;
  margin-left: 10px;
}
.mpro_content .area_true li span strong {
  color: red;
  font-weight: 400;
  position: absolute;
  right: 10px;
  bottom: 0;
}
.mpro_content .shopping {
  width: 90%;
  display: block;
  border-radius: 5px;
  margin: 40px auto;
  height: 30px;
  background-color: #FF9000;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.mpro_content .saoma {
  width: 100%;
}
.mpro_content .form {
  position: relative;
}
.mpro_content #ctl00_ContentBody_txt_nr {
  width: 100%;
  height: 110px;
  resize: none;
}
.mpro_content #ctl00_ContentBody_Button1 {
  position: absolute;
  right: -2px;
  bottom: 4px;
  width: 100px;
  height: 40px;
  background-color: #FF9000;
  color: #fff;
  border-radius: 3px;
}
.mpro_content .list .ul:after {
  display: block;
  content: "";
  clear: both;
}
.mpro_content .userimg {
  float: left;
}
.mpro_content .userimg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mpro_content .con {
  margin-left: 50px;
}
.mpro_content .con .name {
  position: relative;
}
.mpro_content .con .username {
  color: #5997c0;
  font-size: 13px;
}
.mpro_content .con .time {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: #666;
}
.zhekou_content {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}
.zhekou_content .content {
  margin-bottom: 30px;
}
.zhekou_content .content .c_one {
  border: 1px solid #f1f1f1;
  border-bottom: none;
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
}
.zhekou_content .content .c_one img {
  width: 140px;
  height: 140px;
}
.zhekou_content .content .c_one .c_title {
  text-align: left;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.zhekou_content .content .c_one .c_price {
  text-align: left;
  margin-bottom: 10px;
  color: #ff6c00;
  font-size: 14px;
}
.zhekou_content .content .c_one .c_info {
  text-align: left;
  font-size: 12px;
  color: #666;
}
.content:nth-child(odd) .c_one {
  border-right: none;
}
.country_content {
  padding: 10px;
}
.country_content h3 {
  margin: 10px 0;
}
.country_content .money {
  color: red;
  margin-bottom: 10px;
}
.country_content .info {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}
.country_content .comment img {
  float: right;
}
.country_content .buyying {
  width: 90%;
  display: block;
  border-radius: 5px;
  margin: 40px auto;
  height: 30px;
  background-color: #FF9000;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.country_content .saoma {
  width: 100%;
}
.country_content .form {
  position: relative;
}
.country_content #ctl00_ContentBody_txt_nr {
  width: 100%;
  height: 110px;
  resize: none;
}
.country_content #ctl00_ContentBody_Button1 {
  position: absolute;
  right: -2px;
  bottom: 4px;
  width: 100px;
  height: 40px;
  background-color: #FF9000;
  color: #fff;
  border-radius: 3px;
}
.mmm_header {
  background-color: #f4483e;
  width: 100%;
}
.bcj_content {
  width: 100%;
}
.bcj_content nav {
  overflow-x: scroll;
}
.bcj_content nav ul {
  height: 40px;
  width: 1000px;
  border-bottom: 3px solid #f1f1f1;
  margin-bottom: 10px;
}
.bcj_content nav ul .border_red {
  border-bottom: 2px solid red;
  color: red;
}
.bcj_content nav li {
  float: left;
  margin-right: 20px;
  height: 35px;
  border-bottom: none;
  padding-top: 10px;
}
.bcj_content nav li a {
  font-size: 14px;
  height: 38px;
  width: 28px;
  box-sizing: border-box;
  margin: 0 auto;
  line-height: 38px;
}
.bcj_product li {
  margin-top: 10px;
  border-bottom: none;
}
.bcj_content_left {
  width: 135px;
  float: left;
}
.bcj_content_left img {
  width: 130px;
  height: 130px;
  box-sizing: border-box;
}
.bcj_content_right .free {
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.bcj_content_right .price {
  color: #ff5e5d;
  font-size: 20px;
  margin-bottom: 10px;
}
.bcj_content_right .price i {
  font-style: normal;
  font-size: 16px;
}
.bcj_content_right .price em {
  font-style: normal;
  font-size: 12px;
}
.bcj_content_right .price del {
  font-size: 12px;
  color: #aaa;
  margin-left: 10px;
}
.bcj_content_right .zhang {
  font-size: 12px;
  margin-bottom: 5px;
  color: #fc353a;
}
.bcj_content_right .zhang i {
  position: relative;
  box-sizing: border-box;
  width: 82px;
  height: 14px;
  border: 1px solid #fc353a;
  border-radius: 6px;
  color: #fff;
  font-style: normal;
  background: #ffb7b7;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}
.bcj_content_right .zhang i em {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  background: #fc353a;
  display: block;
  transition: all 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.bcj_content_right .zhang i span {
  position: absolute;
  top: -3px;
  left: 30px;
}
.bcj_content_right .zhang b {
  vertical-align: 3px;
  font-weight: 400;
  margin-left: 10px;
}
.bcj_content_right .post {
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
.bcj_content_right .post span:first-child {
  border: 1px dashed #fc353a;
  float: left;
  display: block;
  padding: 2px 5px;
}
.bcj_content_right .post span:first-child a {
  color: #fc353a ;
}
.bcj_content_right .post span:nth-child(2) {
  float: right;
  background-color: #ff5e5d ;
  height: 24px;
  line-height: 24px;
  display: block;
  color: #fff;
  width: 58px;
  text-align: center;
  border-radius: 5px;
  margin-right: 5px;
}
.bcj_content_right .post span:nth-child(2) a {
  color: #fff;
  padding: 2px 5px;
}
.logo li {
  width: 25%;
  float: left;
  text-align: center;
  margin-top: 20px;
}
.logo li img {
  width: 50px;
  height: 50px;
}
.coupon_product_content {
  padding: 0 35px 0 10px;
}
.coupon_product_content .cou_message {
  font-size: 12px;
  color: #aaa;
  text-align: center;
  margin: 5px 0;
}
.coupon_product_content li {
  position: relative;
  margin-bottom: 10px;
}
.coupon_product_content .pro_left img {
  width: 100px;
  height: 100px;
}
.coupon_product_content .pro_right {
  padding-left: 20px;
}
.coupon_product_content .pro_right .proname {
  font-size: 14px;
  height: auto;
  text-align: justify;
}
.coupon_product_content .pro_right .price {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.coupon_product_content .pro_right .info {
  font-size: 12px;
  color: #EE7700;
}
.coupon_product_content .pro_right i {
  position: absolute;
  right: -35px;
  top: 50%;
  transform: translateY(-80%);
  font-size: 26px;
  line-height: 24px;
  color: #aaa;
}
html,
body {
  height: 100%;
  width: 100%;
}
.tanchu {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.tanchu .tan_content {
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin: 200px auto;
  position: relative;
}
.tanchu .tan_content i {
  color: #ccc;
  font-size: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.tanchu .tan_content .arrow-left {
  left: -60px;
}
.tanchu .tan_content .arrow-right {
  right: -60px;
}
.tanchu .tan_del {
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: -20px;
  top: -40px;
}
.container .mmm_header {
  background-color: #FF841D;
}
.gsprod_content {
  background-color: #f1f1f1;
}
.gsprod_content .select {
  background-color: white;
  position: relative;
}
.gsprod_content .select ul {
  margin-right: 20px;
  position: relative;
}
.gsprod_content .select ul li {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  line-height: 35px;
  text-align: center;
  padding-bottom: 0;
  height: 35px;
}
.gsprod_content .select .search {
  border: 1px solid #ccc;
  width: 20px;
  height: 21px;
  padding: 6px 5px;
  position: absolute;
  right: 0;
  top: 0;
}
.gsprod_content .select .gs_select {
  width: 100%;
  position: absolute;
  background-color: white;
}
.gsprod_content .select .gs_select .rows {
  height: 35px;
  border-bottom: 1px solid #ccc;
  line-height: 35px;
  padding-left: 10px;
}
.gspro_house {
  width: 100%;
}
.gspro_house li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-bottom: 0;
  border-bottom: none;
}
.gspro_house li .inbox {
  margin: 4px;
  background-color: white;
  padding: 5px;
}
.gspro_house li .inbox img {
  width: 174px;
  height: 174px;
  margin: 0 auto;
  display: block;
}
.gspro_house li .inbox .gs_info {
  font-size: 12px;
  overflow: hidden;
  height: 20px;
}
.gspro_house li .inbox .gs_do .price {
  float: left;
  color: red;
  font-size: 20px;
}
.gspro_house li .inbox .gs_do .go_btn {
  float: right;
  background-color: #ff9501;
  padding: 5px 8px ;
  border-radius: 3px;
  color: #fff;
}
.sitenav_more {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}
.sitenav_more a {
  border: 1px solid #ccc;
  float: left;
  height: 43px;
  line-height: 43px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 5px;
}
.sitenav_more a img {
  width: 16px;
  height: 16px;
}
.prolist_top {
  font-size: 14px;
}
.prolist_hot {
  background-color: #eee;
  height: 40px;
  line-height: 40px;
  width: 94%;
  margin: 10px auto;
  padding-left: 10px;
  border: 1px solid #ccc;
}
.brand_all_hot li {
  height: 40px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-top: none;
  line-height: 40px;
  padding-left: 20px;
  padding-bottom: 0;
  position: relative;
  box-sizing: border-box;
}
.brand_all_hot li a {
  display: block;
  font-weight: 700;
  background: url("http://www.zuyushop.com/wap/images/arrow1.gif") right center no-repeat;
}
.brand_all_hot li:first-child {
  border-top: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}
.brand_all_hot li:last-child {
  border-bottom: 2px solid #ccc;
}
.which_good {
  height: 40px;
  color: #874604;
  font-size: 14px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  line-height: 40px;
}
.top10 li {
  border-top: none;
  padding: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid #eee;
  position: relative;
  box-sizing: border-box;
}
.top10 li a {
  display: block;
  background: url(../images/arrow-right.svg) right center no-repeat;
  background-size: 20px;
}
.top10 li a em {
  width: 20px;
  height: 20px;
  background-color: #c9c9c9;
  float: left;
  line-height: 20px;
  font-style: normal;
  text-align: center;
  color: #fff;
}
.top10 li a .first {
  background-color: red;
}
.top10 li a .second {
  background-color: #ff9314;
}
.top10 li a .three {
  background-color: #8adf5b;
}
.top10 li a p {
  line-height: normal;
  margin-left: 35px;
}
.top10 li a .info {
  font-size: 14px;
  color: #aaa;
  line-height: 28px;
}
.soleNumber {
  height: 40px;
  color: #874604;
  font-size: 14px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  line-height: 40px;
}
.most_number li {
  border-top: none;
  padding: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid #eee;
  position: relative;
  box-sizing: border-box;
}
.most_number li a {
  display: block;
  background: url(../images/arrow-right.svg) right center no-repeat;
  background-size: 20px;
}
.most_number li a em {
  width: 20px;
  height: 20px;
  background-color: red;
  float: left;
  line-height: 20px;
  font-style: normal;
  text-align: center;
  color: #fff;
}
.most_number li a p {
  line-height: normal;
  margin-left: 35px;
}
.most_number li a .info {
  font-size: 14px;
  color: #aaa;
  line-height: 28px;
}
.most_number li {
  border-bottom: 1px solid #eee;
}
.most_number .pro_left img {
  width: 100px;
  height: 100px;
}
.most_number .pro_right {
  overflow: hidden;
  padding-left: 20px;
  position: relative;
}
.most_number .pro_right .proname {
  font-size: 14px;
  height: 44px;
}
.most_number .pro_right .price {
  color: red;
  font-size: 18px;
  line-height: 30px;
}
.most_number .pro_right .info {
  font-size: 12px;
  color: gray;
  line-height: 20px;
}
.most_number .pro_right .info span {
  margin-right: 10px;
}
.most_number .pro_right .star5 {
  color: #ff9000;
  position: absolute;
  top: 50px;
  right: 6px;
}
.huise {
  color: #ccc;
}
.pinglun_area {
  padding: 10px;
}
.pinglun_area .new_say {
  height: 40px;
  color: #874604;
  font-size: 14px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  line-height: 40px;
}
.pinglun_area .say_text {
  padding: 10px;
  border: 1px solid #ccc;
}
.pinglun_area .say_text .user {
  float: left;
  font-size: 14px;
  color: #aaa;
}
.pinglun_area .say_text .user strong {
  color: #ff9000;
  font-size: 20px;
}
.pinglun_area .say_text .time {
  float: right;
  font-size: 14px;
  color: #aaa;
}
.pinglun_area .say_text .desc {
  font-size: 14px;
}
* {
  padding: 0;
  margin: 0;
}
.clearfixed:after {
  content: "";
  display: block;
  clear: both;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  display: block;
  border: none;
}
input {
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.container {
  min-width: 320px;
  margin: 0 auto;
}
.mmm_header {
  height: 50px;
  background-color: #FF841D;
  width: 100%;
  position: relative;
}
.h_ind_logo {
  border: 1px solid transparent;
  box-sizing: border-box;
}
.h_ind_logo img {
  height: 25px;
  margin: 12.5px;
  display: block;
}
.h_ind_logo h1 {
  position: absolute;
  left: 0;
  top: 0;
  text-indent: -999px;
}
.h_app_down img {
  width: 34px;
  position: absolute;
  right: 8px;
  top: 8px;
}
.ind_search {
  height: 50px;
  width: 100%;
  position: relative;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.ind_search button {
  width: 63px;
  height: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 20px;
  background-color: #FF841D;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
}
.ind_search .input_sou {
  margin: 10px 100px 10px 10px;
  height: 30px;
}
.ind_search input {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  border-radius: 20px;
  padding-left: 20px;
}
.mmm_footer {
  margin-top: 25px;
  width: 100%;
  margin-bottom: 20px;
}
.mmm_footer ul {
  margin-bottom: 10px;
}
.mmm_footer li {
  float: left;
  width: 30%;
  text-align: center;
  border: 1px solid #ccc;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  border-right: none;
  font-size: 14px;
}
.mmm_footer p {
  text-align: center;
  font-size: 12px;
}
.mmm_footer .red {
  color: red;
}
.mmm_footer .gray {
  color: gray;
}
