.mmm_header {
  position: relative;
}
.mmm_header .iconfont {
  font-size: 30px;
  line-height: 50px;
  padding-left: 10px;
  color: #fff;
}
.mmm_header h3 {
  position: absolute;
  font-size: 20px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.mpro_content {
  padding: 10px;
}
.mpro_content .mpro_tit {
  font-size: 18px;
  line-height: 60px;
}
.mpro_content .info {
  font-size: 12px;
  color: #999;
  margin-bottom: 20px;
}
.mpro_content .words {
  color: #606060;
}
.mpro_content .rigfloat {
  float: right;
}
.mpro_content .lh30 {
  line-height: 40px;
}
.mpro_content .area_true {
  margin: 0 auto;
}
.mpro_content .area_true #disstorck {
  margin: 0 auto;
}
.mpro_content .area_true li {
  width: 120px;
  padding-bottom: 0;
  border-bottom: 1px dashed #c0c0c0;
  margin: 0 auto;
  position: relative;
}
.mpro_content .area_true li span {
  font-size: 12px;
  width: 90%;
  margin-right: 10px;
  margin-left: 10px;
}
.mpro_content .area_true li span strong {
  color: red;
  font-weight: 400;
  position: absolute;
  right: 10px;
  bottom: 0;
}
.mpro_content .shopping {
  width: 90%;
  display: block;
  border-radius: 5px;
  margin: 40px auto;
  height: 30px;
  background-color: #FF9000;
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.mpro_content .saoma {
  width: 100%;
}
.mpro_content .form {
  position: relative;
}
.mpro_content #ctl00_ContentBody_txt_nr {
  width: 100%;
  height: 110px;
  resize: none;
}
.mpro_content #ctl00_ContentBody_Button1 {
  position: absolute;
  right: -2px;
  bottom: 4px;
  width: 100px;
  height: 40px;
  background-color: #FF9000;
  color: #fff;
  border-radius: 3px;
}
.mpro_content .list .ul:after {
  display: block;
  content: "";
  clear: both;
}
.mpro_content .userimg {
  float: left;
}
.mpro_content .userimg img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mpro_content .con {
  margin-left: 50px;
}
.mpro_content .con .name {
  position: relative;
}
.mpro_content .con .username {
  color: #5997c0;
  font-size: 13px;
}
.mpro_content .con .time {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: #666;
}
