//头的字体图标
.mmm_header {
  position: relative;
  .iconfont {
    font-size: 30px;
    line-height: 50px;
    padding-left: 10px;
    color: #fff;
  }
  h3{
    position: absolute;
    font-size: 20px;
    top: 10px;
    left:50%;
    transform: translateX(-50%);
    color: #fff;
  }
}

//抬头里的list
.ind_tit_list {
  padding-top: 20px;
  box-sizing: border-box;
}

.ind_list_left {

  img {
    width: 100px;
    height: 100px;
  }
}

.ind_list_right {
  overflow: hidden;
}

